@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<MobileViewModel>

@{
    ViewData["Title"] = "Mobile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<!--================Home Banner Area =================-->
<section class="banner_area" style="margin-top:30px">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Big Const Ecommerce</h2>
                    <p>Luôn sẵn sàng phục vụ</p>
                </div>
                <div class="page_link">
                    <a href="/">Trang chủ</a>
                    <a>Laptop</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Category Product Area =================-->
<section class="cat_product_area section_gap">
    <div class="container">
        <div class="row flex-row-reverse" id="laptop">
        </div>
    </div>
    <a id="saveBrandId" style="display:none"></a>
    <a id="saveOrderId" style="display:none"></a>
    <a id="pageIndexe" style="display:none">@ViewBag.PageIndex</a>
</section>
<!--================End Category Product Area =================-->
@section scripts
    {
    <script>
        function LikeProduct(id) {
            $.ajax({
                url: '/Product/LikeProduct',
                type: 'POST',
                cache: false,
                async: true,
                dataType: "html",
                data: { productId: id }
            });
        }
    </script>

    <script>
        $(function () {
            GetListLap();
        });

        function GetListProduct(dateModel) {
            $.ajax({
                url: '/Product/ListMobile',
                type: 'POST',
                cache: false,
                async: true,
                dataType: "html",
                data: dateModel
            })
                .done(function (result) {
                    $('#laptop').html(result);
                }).fail(function (xhr) {
                    console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
                });
        }
    </script>

    <script>
        function GetAllLap(pageIndexer) {
            var save = document.getElementById("saveBrandId").innerHTML = '0';
            $.ajax({
                url: '/Product/ListMobile',
                type: 'POST',
                cache: false,
                async: true,
                dataType: "html",
                data: {
                    pageIndex: pageIndexer
                }
            })
                .done(function (result) {
                    $('#laptop').html(result);
                    if (save.innerText > 0) {
                        document.getElementById(checkStyleId).style.color = "red";
                    }
                }).fail(function (xhr) {
                    console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
                });
        }
    </script>

    <script>
        function GetListLap(brandId) {
            var save = document.getElementById("saveBrandId");
            var checkStyleId = "select-checkbox-" + brandId;
            var pageIndexer = document.getElementById("pageIndexe").innerText;
            save.innerHTML = brandId;
            $.ajax({
                url: '/Product/ListMobile',
                type: 'POST',
                cache: false,
                async: true,
                dataType: "html",
                data: {
                    brandId: brandId,
                    pageIndex: pageIndexer
                }
            })
                .done(function (result) {
                    $('#laptop').html(result);
                    if (save.innerText > 0) {
                        document.getElementById(checkStyleId).style.color = "red";
                    }
                }).fail(function (xhr) {
                    console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
                });
        }

        function GetListLapOrder() {
            var save = document.getElementById("saveBrandId").innerText;
            var order = document.getElementById("orderId");
            var orderId = order.options[order.selectedIndex].value;
            var pageIndexer = document.getElementById("pageIndexe").innerText;
            var checkStyleId = "select-checkbox-" + save;
            $.ajax({
                url: '/Product/ListMobile',
                type: 'POST',
                cache: false,
                async: true,
                dataType: "html",
                data: {
                    orderBy: orderId,
                    brandId: save,
                    pageIndex: pageIndexer
                }
            })
                .done(function (result) {
                    $('#laptop').html(result);
                    $("#orderId").val(orderId);
                    if (save > 0) {
                        document.getElementById(checkStyleId).style.color = "red";
                    }
                }).fail(function (xhr) {
                    console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
                });
        }
    </script>
}