@model KLTN.DataModels.Models.Users.UserConfirmViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmUser</title>
</head>
<body>
    <form id="confirm" asp-action="ConfirmUser" method="post">
        <div class="col-4">
            <input type="hidden" asp-for="confirmString"/>
            <button type="submit" class="btn btn-primary btn-block btn-flat"></button>
        </div>
    </form>
</body>
</html>
<script type="text/javascript">
        document.forms["confirm"].submit();
</script>
