<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Quản lý người dùng
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/User/ListAdmin" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Quản lý Admin</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/User/ListEmployee" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Quản lý nhân viên</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/User/ListCustomer" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Quản lý khách hàng</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Quản lý thương hiệu
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Brand/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Quản lý thương hiệu</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Quản lý đơn hàng
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Order/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Quản lý đơn hàng</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Quản lý sản phẩm
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Product/Laptop" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Quản lý laptop</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
