@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================Home Banner Area =================-->
<section class="banner_area" style="margin-top:30px">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Big Const Ecommerce</h2>
                    <p>Luôn sẵn sàng phục vụ</p>
                </div>
                <div class="page_link">
                    <a href="/">Trang chủ</a>
                    <a>Lịch sử mua hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!-- /.box -->
<div class="col-12">
    <div class="card">
        @*@if (TempData[Constants.UpdateSuccess] != null)
            {
                <h3 class="alert alert-success lisproduct-alert">@TempData[Constants.UpdateSuccess]</h3>
            }*@
        <div  style="margin:auto; margin-top:30px">
            <h3 style="text-align:center">Danh sách đơn hàng</h3>
        </div>
        <!-- /.box-header -->
        <div class="card-body box-body table-responsive">
            <table id="order-index" class="table table-bordered columns-align-center table-hover" style="width: 100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email người mua</th>
                        <th>Thời gian tạo</th>
                        <th>Số điện thoại</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>
<!-- /.box -->

@section scripts
    {
    <script src="~/js/userjs/user.js"></script>
    <script src="~/lib/moment/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/datetime-moment/datetime-moment.js" asp-append-version="true"></script>
    <script>
        $.fn.dataTable.moment("DD/MM/YYYY HH:mm:ss");
        $.fn.dataTable.moment("DD/MM/YYYY");
        $("#order-index").DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Vietnamese.json"
            },
            // Design Assets
            stateSave: true,
            autoWidth: true,
            // ServerSide Setups
            processing: true,
            serverSide: true,
            // Paging Setups
            paging: true,
            // Searching Setups
            searching: { regex: true },
            // Ajax Filter
            ajax: {
                url: "/Order/LoadOrder",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: function (d) {
                    return JSON.stringify(d);
                }
            },
            // Columns Setups
            columns: [
                { data: "id" },
                { data: "recipientEmail" },
                {
                    data: "createAt",
                    render: function (data, type) {
                        // If display or filter data is requested, format the date
                        if (type === "display" || type === "filter") {
                            return moment(data).format("DD/MM/YYYY");
                        }
                        // Otherwise the data type requested (`type`) is type detection or
                        // sorting data, for which we want to use the raw date value, so just return
                        // that, unaltered
                        return data;
                    }
                },
                { data: "recipientPhone" },

                {
                    "mData": "totalPrice",
                    "mRender": function (data) {
                        return data.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
                    }
                },
                { data: "statusOrder" },
                {
                    "mData": "id",
                    "mRender": function (data, type, row) {
                        var url;
                        url = "<a title=\"Chi tiết\" href=\"/Order/Detail/" +
                            data +
                            "\"" +
                            "class = \"btn btn-info fa fa-info-circle\"></a> ";
                        return url;
                    }
                }
            ]
        });
    </script>
}
