@model EmailModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <!-- Horizontal Form -->
        <div class="card card-info">
            <div class="card-header" style="margin:auto">
                <h3 class="card-title">Lấy lại mật khẩu</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" action="ForgotPassword" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-10">
                            <input asp-for="Email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Gửi</button>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
    </div>
</div>