@model EmailModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================Home Banner Area =================-->
<section class="banner_area" style="margin-top:30px">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Big Const Ecommerce</h2>
                    <p>Luôn sẵn sàng phục vụ</p>
                </div>
                <div class="page_link">
                    <a href="/">Trang chủ</a>
                    <a>Lấy lại mật khẩu</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<div class="col-md-11 row" style="margin-bottom:30px">
    <div class="col-md-5"></div>
    <div class="col-md-3">
        <div style="margin:auto;margin-top:20px">
            <h3 style="text-align:center">Lấy lại mật khẩu</h3>
        </div>
        <!-- Horizontal Form -->
        <div class="card">
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" action="ForgotPassword" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-12">
                            <input asp-for="Email" style="width:100%" type="email" class="form-control" placeholder="Nhập địa chỉ email cần lấy lại mật khẩu">
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- /.card-body -->
                <div class="card-footer" style="margin-left:12px">
                    <button type="submit" style="width:110px;" class="btn btn-info">Gửi</button>
                </div>
            </form>
            <div style="margin-left:29px">
                <a asp-action="Authentication" asp-controller="Account" class="text-center">Tôi đã có tài khoản</a>
            </div>
            <div style="margin-left:29px">
                <a asp-action="Authentication" asp-controller="Register" class="text-center">Đăng ký tài khoản</a>
            </div>
        </div>
    </div>
</div>
