@model RetypePassword
@{
    ViewData["Title"] = "RetypePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <!-- Horizontal Form -->
        <div class="card card-info">
            <div class="card-header" style="margin:auto">
                <h3 class="card-title">Lấy lại mật khẩu</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" action="RetypePassword" method="post">
                <input asp-for="ConfirmString" type="hidden"/>
                <div class="card-body">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Mật khẩu">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Nhập lại mật khẩu">
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Gửi</button>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
    </div>
</div>

