@{
    ViewData["Title"] = "ForgotOk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================Home Banner Area =================-->
<section class="banner_area" style="margin-top:30px">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Big Const Ecommerce</h2>
                    <p>Luôn sẵn sàng phục vụ</p>
                </div>
                <div class="page_link">
                    <a href="/">Trang chủ</a>
                    <a>Thông báo</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<section>
    <div class="container alert alert-success"  style="margin-top:30px">
        <div>
            <div class="alert-icon">
                <i class="material-icons">Thông báo</i>
            </div>
            <a href="/" class="close" aria-label="Close">
                <i class="material-icons">
                    Về trang chủ
                </i>
            </a>
            <b style="color:green">Yêu cầu lấy lại mật khẩu thành công. </b>Vui lòng truy nhập email của bạn để lấy lại mật khẩu.
        </div>
    </div>
</section>
@section scripts{
    <script src="~/js/alert.js"></script>
}
