@{
    ViewData["Title"] = "NotAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================Home Banner Area =================-->
<section class="banner_area" style="margin-top:30px">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Big Const Ecommerce</h2>
                    <p>Luôn sẵn sàng phục vụ</p>
                </div>
                <div class="page_link">
                    <a href="/">Trang chủ</a>
                    <a>Thông báo</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!-- Content Wrapper. Contains page content -->
<div class="container content-wrapper">
    <!-- Main content -->
    <section class="content" style="margin-top:30px">
        <div class="error-page">
            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-warning"></i> Xin lỗi! Bạn không có quyền truy cập.</h3>
                <p>
                    <b style="color:red">
                        Đường dẫn bạn vừa truy nhập đã bị chặn bởi người quản lý.
                    </b> 
                    <a href="/">Về trang chủ</a>
                    hoặc liên hệ trực tiếp với quản trị website để biết thêm chi tiết.
                </p>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
