
@{
    ViewData["Title"] = "PaymentSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    <div class="container">
        <div class="alert-icon">
            <i class="material-icons">Thông báo</i>
        </div>
        <a href="/" class="close" aria-label="Close">
            <i class="material-icons">
                Về trang chủ
            </i>
        </a>
        <b>Thanh toán thành công. </b>Cảm ơn bạn đã mua sản phẩm.
    </div>
</div>
@section scripts{
    <script src="~/js/alert.js"></script>
}

