@{
    ViewData["Title"] = "RetypeSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/alert.css" />
<div class="alert alert-success">
    <div class="container">
        <div class="alert-icon">
            <i class="material-icons">Thông báo</i>
        </div>
        <a href="/" class="close" aria-label="Close">
            <i class="material-icons">
                Về trang chủ
            </i>
        </a>
        <b>Lấy lại mật khẩu thành công. </b>
    </div>
</div>
@section scripts{
    <script src="~/js/alert.js"></script>
}


