@{
    ViewData["Title"] = "SendContactFail";
    Layout = "~/Views/Notification/ForgotOk.cshtml";
}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Big Const Ecommerce</h2>
                    <p>Luôn sẵn sàng phục vụ</p>
                </div>
                <div class="page_link">
                    <a href="/">Trang chủ</a>
                    <a>Thông báo</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<section>
    <div class="alert alert-danger">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">Thông báo</i>
            </div>
            <a asp-controller="Home" asp-action="Index" class="close" aria-label="Close">
                <i class="material-icons">
                    Về trang chủ
                </i>
            </a>
            <b>Gửi liên hệ thất bại. </b>Rất xin lỗi!...<br />Có một lỗi không xác định xảy ra trong quá trình gửi liên hệ tới chúng tôi. Chúng tôi sẽ khắc phục sự cố này trong thời gian sớm nhất.
        </div>
    </div>
</section>
@section scripts{
    <script src="~/js/alert.js"></script>
}

