
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inspired_product_area section_gap_bottom_custom" id="listProduct">
    
</section>

@section scripts
{
    <script>
//        $(function () {
//            GetListProduct();
//        });
        window.onload = function() {
            GetListProduct();
        }
        function GetListProduct() {
            $.ajax({
                url: '/Home/ListProduct',
                type: 'POST',
                cache: false,
                async: true,
                dataType: "html"
            }).done(function (result) {
                $('#listProduct').html(result);
            });
        }
    </script>
    <script>
        function LikeProduct(id) {
            $.ajax({
                url: '/Product/LikeProduct',
                type: 'POST',
                cache: false,
                async: true,
                dataType: "html",
                data: {productId : id},
                success: function() {
                    GetListProduct();
                }
            });
        }
    </script>
}