@{
    ViewData["Title"] = "TaskByUserId";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Danh sách nhiệm vụ</a>
                    </li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section> 
<!-- /.box -->
<div class="col-12">
    <div class="card">
        @*@if (TempData[Constants.UpdateSuccess] != null)
            {
                <h3 class="alert alert-success lisproduct-alert">@TempData[Constants.UpdateSuccess]</h3>
            }*@
        <div class="card-header" style="margin:auto">
            <h3 class="card-title" style="text-align:center">Danh sách nhiệm vụ</h3>
        </div>
        <!-- /.box-header -->
        <div class="card-body box-body table-responsive">
            <table id="order-index" class="table table-bordered columns-align-center table-hover" style="width: 100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email người mua</th>
                        <th>Thời gian tạo</th>
                        <th>Số điện thoại</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>
<!-- /.box -->

@section scripts
    {
    <script src="~/js/userjs/user.js"></script>
    <script src="~/lib/moment/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/datetime-moment/datetime-moment.js" asp-append-version="true"></script>
    <script>
        $.fn.dataTable.moment("DD/MM/YYYY HH:mm:ss");
        $.fn.dataTable.moment("DD/MM/YYYY");

        $("#order-index").DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Vietnamese.json"
            },
            // Design Assets
            stateSave: true,
            autoWidth: true,
            // ServerSide Setups
            processing: true,
            serverSide: true,
            // Paging Setups
            paging: true,
            // Searching Setups
            searching: { regex: true },
            // Ajax Filter
            ajax: {
                url: "/Admin/Order/LoadTaskByUserId",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: function (d) {
                    return JSON.stringify(d);
                }
            },
            // Columns Setups
            columns: [
                { data: "id" },
                { data: "recipientEmail" },
                {
                    data: "createAt",
                    render: function (data, type) {
                        // If display or filter data is requested, format the date
                        if (type === "display" || type === "filter") {
                            return moment(data).format("DD/MM/YYYY");
                        }
                        // Otherwise the data type requested (`type`) is type detection or
                        // sorting data, for which we want to use the raw date value, so just return
                        // that, unaltered
                        return data;
                    }
                },
                { data: "recipientPhone" },
                { data: "totalPrice" },
                { data: "statusOrder" },
                {
                    "mData": "id",
                    "mRender": function (data, type, row) {
                        var url;
                        url = "<a title=\"Chi tiết\" href=\"OrderDetail\\" +
                            data +
                            "\"" +
                            "class = \"btn btn-info fa fa-info-circle\"></a> ";
                        return url;
                    }
                }
            ]
        });
    </script>
}


